generator.py
plugin.video.netflix/
!zip/plugin.video.netflix/
skin.lyrebird/
!zip/skin.lyrebird/
skin.arctic.zephyr.2-notoco/
zip/skin.arctic.zephyr.2-notoco/
skin.aura-notoco/1080i/script-skinshortcuts-includes.xml
skin.arctic.zephyr.2-0.9.55-alpha1/
skin.arctic.zephyr.2.notoco/1080i/script-skinshortcuts-includes.xml
skin.arctic.zephyr.2-notoco/1080i/script-skinshortcuts-includes.xml
*.xcf
*~
Thumbs.db
# Test caches
*.pyc
*.pyo
skin.arctic.zephyr.2.notoco/extras/icons/.goutputstream-H3R0Q0
